<head>
<title>Crear tareas</title>
</head>

<form class="cuerpo">
    <div class="tarea">
        <p class="titulo">Aplicación ToDo</p>
        <input type="text" 
        name="nombre" 
        id="nombreInput" 
        placeholder="Introduzca una tarea">
        <input type="submit" value="Agregar tarea" name="agregartarea" id="agregartarea">
    </div>
    <h2 style="text-align: center; margin-top: 20px;">Lista de tareas</h2>
    <div class="cajatareas">
        
        <div class="listatareas">
            
            
        </div>

    </div>

</form>
